<%= form_tag(products_path, method: :get) do %>
  <fieldset class="col-md-12">
    <legend>Search form</legend>
    <div class="form-group">
      <label>Category</label>
      <%= select_tag 'category_id', options_for_select(@categories.map{|i| ["#{'-' * i.depth} #{i.name}",i.id]}  ),{ class: 'form-control'} %>
    </div>
    <div class="form-group">
      <label>Product name</label>
      <%= text_field_tag :name, params[:name], class: 'form-control' %>
    </div>
    <div id="details_filters"></div>
    <%= submit_tag 'Search', class: "btn btn-primary" %>
  </fieldset>
<% end %>

<script>
GetDetails();
$("#category_id").on('change',function(e){
	GetDetails();
});

function GetDetails(){
	var category_id = $("#category_id").val();
	var ajaxReq = $.ajax('/categories/' + category_id, {
                        dataType: "script",
                        timeout: 1500,
                        data: { view: 'details_filter' }
 											});
               
    ajaxReq.error(function (jqXhr, textStatus, errorMessage) {
        $('p').append('Error: ' + errorMessage);
    });
}
</script>